body{
    background: black;
}
nav{
    background: #ffffff;
    border-radius: 33px;
    position: sticky;
    top: 50px;
    height: 30px;
    margin:0px 100px;
}
nav ul{
   overflow: auto;
   margin-left: 0px 50px;
   padding: 5px 10px;
}
nav ul li{
   float: left;
   list-style: none;
}
nav ul li:hover{
    text-decoration: underline;
}
main{
     display: inline-block;
}
footer{
    position: fixed;
    background-color: red;
    color: white;
    height: 100px;
    width: 100%;
    bottom: 0px;
}
